# Database Tier
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=production_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/production_db


PORT=5001
